<%- include ('../partials/header'); -%>

<div class="container">
<header class="jumbotron">
    <div class="container">
    <h1>Welcome to Little Libraries Page</h1>
    <p>Find Little Libraries</p>
    <p>
        <a class="btn btn-primary btn-large" href="littlelibraries/new">Add a New Little Library</a>
    </p>
    </div>
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    
        <% littlelibraries.forEach(function(littlelibrary){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= littlelibrary.image %>">
                
                    <div class="caption">
                        <h4><%= littlelibrary.name %></h4>
                    </div>
                    <div>
                        <a href="/littlelibraries/<%= littlelibrary._id %>" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        <% }); %>
</div>












<%- include ('../partials/footer'); -%>